  body {
      font: 20px "Trirong", serif;
      line-height: 1.8;
      color: #333;
  }
  p { font-size: 18px;}

  .margin {
      margin-bottom: 45px;
      margin-left: : 45px;
  }

  /*Background*/
  .bg-1 { 
      background-color: #E65100; /* Orange */
      color: #ffffff;
  }
  .bg-2 { 
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }
  .bg-3 { 
      background-color: #ffffff; /* White */
      color: #ff6f00;
  }
  .bg-4 { 
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }
  .bg-5{
    background-color: #fcfcfc; /* White Gray */
    color: #333;
    border-radius: 4px;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
      padding-left: 30px;
  }

  .container-fluid2 {
      padding-right: 15px;
      padding-left: 15px;
  }

  /*Navbar ul li*/
  .navbar {
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 13px;
      letter-spacing: 2px;
      padding: 10px;
  }

  .navbar-nav li a:hover{
      background-color: #e0e0e0 !important;
  }

  .navbar-nav li.active a  {
      color: #ffffff !important;
      background-color: #ff6f00 !important;
  }

  .navbar-default .navbar-toggle {
      background-color: #ff6f00 !important;
      border: none;
  }

  .icon-bar{
      background-color: #ffffff !important;
  }

  .nav-brand{
      color: #ff6f00 !important;
      font-weight: bolder;
      font-size: 24px !important;
      text-shadow: 3px 3px #ffffff;
  }

  .nav-brand:hover{
      color: #ffffff !important;
      font-weight: bolder;
      font-size: 24px !important;
      text-shadow: 3px 3px #ff6f00 !important;
  }
  /*.nav-brand:hover{
      color: #ffab00 !important;
      font-weight: bolder;
      font-size: 24px !important;
      text-shadow: 3px 3px #ffffff !important;
  }*/

  /* Dropdown */
  .dropdown-menu{
    border: none;
    background-color: #ffffff !important;
  }
  .dropdown-menu li a:hover{
      background-color:#ffab00 !important;
      color: #ffffff !important;
  }
  .dropdown-menu li.active a{
      background-color:#333 !important;
      color: #ffffff !important;
  }
  .dropdown-menu li.normal a{
      background-color:#ffffff !important;
      color: #333 !important;
  }
  .dropdown-menu li.normal a:hover{
      background-color:#ffab00 !important;
      color: #ffffff !important;
  }

  
 
 /* ul.uldrop{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f4511e;
  }

  li.lidrop{
    float: left;
  }

  li.lidrop a, .dropbtn{
    display: inline-block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li.lidrop a:hover, .dropdown:hover .dropbtn{
    background-color: #ff6f00;
  }

  li.dropdown{
    display: inline-block;
  }

  .dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0,2);
    z-index: 1;
  }

  .dropdown-content a{
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover{
    background-color: #f1f1f1;
  }

  .dropdown:hover .dropdown-content{
    display: block;
}*/


  /*Button Add*/
  .btn-add{
    display: inline-block;
    border-radius: 4px;
    background-color: #bf360c;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  .btn-add:hover{
    background-color: #000000;
  }

  .btn-add span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .btn-add span:after{
    content: '\271a';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.5s;
  }

  .btn-add:hover span{
    padding-right: 22px;
  }

  .btn-add:hover span:after{
    opacity: 1;
    right: 0;
  }




/*ListPagination*/
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 50%;
}

ul.pagination li {
  display: inline;
  border: none;
  border-radius: 50%;
}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: none;
    border-radius: 50%;
}

ul.pagination li a.active {
    background-color: #ff6f00;
    color: #ffffff;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}



 /*.slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }*/ /*animation*/